body {
    font-family: Open-Sans, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../Pictures/T-Shirts.jpg');
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.hero {
    position: relative;
    height: 80vh;
    background-image: url('../Pictures/suit.jfif');
    background-size: cover;
    background-position: center;
}

.hero h1 {
    position: absolute;
    bottom: 375px;
    right: 210px;
    color: black;
    font-size: 48px;
    font-family: Open-Sans, sans-serif;
    margin: 10;
    background: -webkit-linear-gradient(#FFEAA7,#000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-header {
    text-align: center;
    padding: 60px 0;
    font-family: Open-Sans, sans-serif;
}

.section-header h2 {
    font-size: 32px;
    font-family: Open-Sans, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(#958E69,#000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-header p {
    font-size: 18px;
    font-family: Open-Sans, sans-serif;
    background: -webkit-linear-gradient(#958E69,#000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.featured-products {
    display: flex;
    flex-wrap: wrap;
}

.featured-products .product {
    width: calc(33.333% - 20px);
    margin: 10px;
    text-align:center
}

.featured-products .product img {
    max-width: 100%;
    transition: transform 0.3s;
}

.featured-products .product:hover img {
    transform: scale(1.1);
}

.featured-products .product h3 {
    font-size: 24px;
    font-family: Open-Sans, sans-serif;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(#958E69,#000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.featured-products .product p {
    font-size: 18px;
    font-family: Open-Sans, sans-serif;
    background: -webkit-linear-gradient(#958E69,#000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer {
	background-color: #000;
	font-size: medium;
	font-weight: 500;
	color: #fff;
	text-align: center;
	align-items: center;
}

.footer a {
	font-size: medium;
	font-weight: 500;
	color: #fff;
	margin: 40px;

}

.links {
	background-color: #162087;
	font-size: medium;
	font-weight: 500;
	color: #fff;
	margin: 10px;
	text-align: center;
	align-items: center;
}

.links a i {
	font-size: medium;
	font-weight: 500;
	color: #fff;
	margin: 40px;
}

.links a span {
	font-size: 20px;
	font-weight: 500;
	color: #fff;
}