body {
    font-family: Open-Sans, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../Pictures/background1.jpg') no-repeat;
}

header {
    font-family: Georgia, serif;
    color: white;
    padding: 20px;
    background-image: url('../Pictures/Header.png');
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

    text-shadow: 2px 2px 0px #000;
}

header h1 {
    font-family: Georgia, serif;
    margin: 10px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    text-shadow: 2px 2px 0px #000;
}

nav ul {
    font-family: Georgia, serif;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    text-shadow: 2px 2px 0px #000;
}

nav li {
    font-family: Georgia, serif;
    margin: 0 10px;
    padding: 10px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    text-shadow: 2px 2px 0px #000;
}

nav a {
    box-shadow: inset 0 0 0 0 #5574B9;
    color: white;
    text-decoration: none;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 10px;
}

nav a:hover {
    box-shadow: inset 100px 0 0 0 #7EA7D8;
    color: white;
}

nav li ul {
    display: none;
    padding: 10px;
}

nav li:hover ul {
    display: block;
    backdrop-filter: blur(5px);
    padding: 10px;
    border: 1px solid #fff;
    width: 100px;
    border-radius: 20px;
}

nav li ul li {
    margin: 10px 0;
}

nav li ul li a {
    color: white;
}

nav li ul li a:hover {
    color: #ddd;
    padding: 10px;
    border-radius: 20px;
}

section {
    font-family: Georgia, serif;
    padding: 20px;
    
}

section {
    font-family: Georgia, serif;
    padding: 20px;
    text-align: center;
}

section h2 {
    font-family: Georgia, serif;
    margin-bottom: 20px;
}

section p {
    font-family: Georgia, serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fff;
}


.featured-products {
	display: flex;
	flex-wrap: wrap;
}

.featured-products .product {
	width: calc(33.333% - 20px);
	margin: 10px;
	text-align: center;
}

.featured-products .product img {
	max-width: 100%;
	transition: transform 0.3s;
}

.featured-products .product:hover img {
	transform: scale(1.1);
}

.featured-products .product h3 {
	font-size: 24px;
	font-family: Open-Sans, sans-serif;
	margin-bottom: 10px;
	background: -webkit-linear-gradient(#958E69, #000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	justify-content: center;
}

.featured-products .product p {
	font-size: 18px;
	font-family: Open-Sans, sans-serif;
	background: -webkit-linear-gradient(#958E69, #000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.footer {
	background-color: #000;
	font-size: medium;
	font-weight: 500;
	color: #fff;
	text-align: center;
	align-items: center;
}

.footer a {
	font-size: medium;
	font-weight: 500;
	color: #fff;
	margin: 40px;

}

.links {
	background-color: #162087;
	font-size: medium;
	font-weight: 500;
	color: #fff;
	margin: 10px;
	text-align: center;
	align-items: center;
}

.links a i {
	font-size: medium;
	font-weight: 500;
	color: #fff;
	margin: 40px;
}

.links a span {
	font-size: 20px;
	font-weight: 500;
	color: #fff;
}