body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../Pictures/Shipment\ &\ Payment.jpg');
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

